doctype html
html(lang="en")
	include header

	body
		div#shipmap
			<iframe src="//www.shipmap.org" style="width: 100%; height: 100%; border: 0" frameborder="0"></iframe><div style="width: 100%; font-size: 10px; margin-top: 4px">

		// --JAVASCRIPT -------------------------------
		script(src="./vendor/jquery-3.0.0.min.js")
		script(type="text/javascript").
			var b = $('body');
			var height = $(document).height();
			var width = $(document).width();
			b.css({"height": height});
			var iframe = $('iframe');
			console.log('click');
			iframe.trigger('click');
